*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body{
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* header */

header{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 40px 20px;
}
header h1{
    font-size: 36px;
}
header p{
    font-size: 18px;
    margin-top: 10px;
}

/*section */
section{
    padding: 30px 20px;
    max-width: 800px;
    margin: auto;
}
section h2{
    margin-bottom: 15px;
    border-bottom: 2px solid #333;
    display: inline-block;
}

/* skills */
.skills ul{
    list-style: none;

}
.skills li{
    background: #ddd;
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
}

/* projects */

.project{
background: white;
padding: 15px;
margin-top: 15px;
border-radius: 5px;
}

/* contact */

.contact p{
    margin-top: 10px;
}