* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f4f1ec;
  font-family: 'Inter', sans-serif;
  color: #2b2b2b;
}

.container {
  max-width: 1100px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 60px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  margin-bottom: 20px;
}

h1 span {
  color: #2f7f7a;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  margin: 40px 0 15px;
}

.intro {
  line-height: 1.7;
  font-size: 15px;
}

.contact li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.contact a {
  color: #2f7f7a;
  text-decoration: none;
}

.edu {
  margin-bottom: 15px;
}

.edu span {
  font-size: 14px;
  color: #555;
}

.skill {
  margin-bottom: 15px;
}

.skill span {
  font-size: 14px;
}

.bar {
  background: #ddd;
  height: 6px;
  border-radius: 10px;
  margin-top: 6px;
}

.bar div {
  height: 100%;
  background: #2f7f7a;
  border-radius: 10px;
}

.list {
  list-style: none;
}

.list li {
  margin-bottom: 8px;
  font-size: 14px;
}

.project {
  font-size: 14px;
  line-height: 1.6;
}
.profile {
  width: 260px;
  margin: 0 auto 30px;
}

.blob {
  width: 260px;
  height: 320px;
  background: #2f7f7a;
  border-radius: 55% 45% 60% 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* IMPORTANT */
}

.blob img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edu-link {
  color: #2f7f7a;
  text-decoration: none;
}

.edu-link:hover {
  text-decoration: underline;
}
